<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <form method="post" action="/posts" >
        <input type="text" placeholder="Enter your username" name="user"><br><br> 
        <textarea name="content" cols="40" rows="10" placeholder="Enter your content"></textarea><br><br> 
        <button type="submit">Submit</button> 
    </form>
</body>
</html>
